<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
    
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>

  <connectionStrings>
    <add name="sg_conn_str" connectionString="Data Source=DT-HRL-CONF2;Initial Catalog=guard_profiles_db;user id=sg_admin;password=sg_admin123;Integrated Security=true" providerName="System.Data.SqlClient"/>
    <add name="AppManager_security2000.Properties.Settings.app_manager_dbConnectionString" connectionString="Data Source=SECURIKO-PC;Initial Catalog=app_manager_db;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Guard_profiler.Properties.Settings.sg_list_report_conn_str" connectionString="Data Source=SECURIKO-PC;Initial Catalog=guard_profiles_db;User ID=sg_admin;Password=sg_admin123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
